
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_container svg{
  width: 5em;
  height: 5em;
}

span {
  font-family: 'Irish Grover', sans-serif;
  font-size: 5em;
  color: #ffffff;

}

h1 {
  font-family: 'Irish Grover', sans-serif;
  font-size: 1em;
  color: #ffffff;
}



input {
  margin-top: 100px;
  border-radius: 5px;
}

.button {
  padding-left: 5px;
  font-family: 'Irish Grover', sans-serif;
  border: 1px solid #ffffff;
  border-radius: 5px;
}


