.controls_button {
    border: 1px solid #666666;
    color: #666666;
    border-radius: 5px;
}

.controls_button:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.controls input {
    margin: 10px ;

}

.lists-container {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lists-container input{
    margin: 0 auto;
}

.custom-list span {
    margin: 1em;
    font-size: 3em;
}

.custom-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
}

.custom-list img {

    width: 2em;
    height: 4em;
}

.lists-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
