.custom-subject-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.custom-subject-list span {
    margin: 5px;
    font-size: 1.5em;
}

.subjects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls button {
    font-family: 'Irish Grover', sans-serif;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}

.controls input {
    margin: 10px;
}