.custom-subject-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.custom-subject-list span {
    line-height: 1em;
    font-size: 1.2em;
    border-bottom: 1px solid #ffffff;
}

.subjects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls button {
    font-family: 'Lobster-Regular', sans-serif;
    border: 1px solid #666666;
    color: #666666;
    border-radius: 5px;
}

.controls button:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
}

.controls input {
    margin: 10px;
}